#informer-popup {
  margin-bottom: 10px;
  width: auto;
  z-index: 99999;
  border: #d5d5d3 solid 1px;
  margin-top: 20px;
  background: #ebebeb;
  /* older browsers */
  background: -ms-linear-gradient(top, #ebebeb 0%, white 100%);
  /* IE 10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebebeb", endColorstr="white", GradientType=0 );
  /* IE6-9 */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ebebeb 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(#ebebeb 0%, #ffffff 100%);
  background-image: -o-linear-gradient(#ebebeb 0%, #ffffff 100%);
  background-image: linear-gradient(#ebebeb 0%, #ffffff 100%);
  box-shadow: inset 1px 1px 0px 1px white;
  padding: 10px 0px 10px;
  color: #9b9b9b;
  height: 20px;
}
#informer-popup .popup-content
#popup-text {
  float: left;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}
#informer-popup .popup-content
#popup-text a {
  color: #1074bf;
  text-decoration: none;
}
#informer-popup .popup-content
#popup-text a:hover {
  color: #1074bf;
  text-decoration: underline;
}
#informer-popup #popup-button {
  float: right;
  color: #4a4a4a;
  margin-right: 10px;
}
#informer-popup #popup-button .text {
  float: left;
  font-size: .9em;
}
#informer-popup #popup-button .ignore-button {
  background: url("../images/ignore-btn.png") center no-repeat transparent;
  border: none;
  height: 11px;
  width: 11px;
  float: left;
  margin: 4px 0 0 5px;
}